
body{
    background-color: bisque;
    border: 2px solid black;
    border-radius: 8px 8px 8px 8px;
    
}
.ul{
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    background-color: blanchedalmond;
    padding: 60px;
    border: 2px solid black;
    border-radius: 8px 8px 8px 8px;
}
ul li{
    list-style: none;
    border: 2px solid black;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;

    border-radius: 12px 12px 12px 12px;
}

ul li > a{
    text-decoration: none;
    color: black;
    font-size: xx-large;
}

ul li:hover{
    cursor: pointer;
}

ul li:active{
    background-color:bisque;
}


/* ul li a:visited{
    color: lightgreen;

} */

@media screen and (max-width: 576px) {
    .ul{
        grid-template-columns: repeat(1, 1fr);
        /* background-color:; */
        
    }
    
}

@media screen and (min-width: 576px) and (max-width: 992px) {
        .ul{
            grid-template-columns: repeat(2, 1fr);
            /* background-color:; */
            
        }
        ul li > a{
            text-decoration: none;
            color: black;
            font-size: large;
        }
    
    
}
