.container{
    background-color: burlywood;
    display: flex;
    gap: 20px;
    height: 500px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.box{
       border: 2px solid red;
       margin: 20px;
       padding: 15px;
       width: 1cm; 
       display: grid;  
       align-items: center;
       justify-content: center;    
       font-size: xx-large; 
       background-color: bisque;
       border-radius: 12px 14px 12px 14px;
    
}
.box1{
    width: 40%;
}

.box2{
    width: 100%;
}

@media screen and (max-width : 576px) {
    .container{
        flex-direction: column;
    }
    .box1{
    width: 70%;
    height: 40%;
}
.box2{
    width: 80%;
    height: 100%;
}
    
}
